body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: rgb(64, 73, 61);
}

header {
  background-image: url('images/lab7-backgroundimage.png');/*This images is missing from your images folder*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  display: none;
}

header > img {
  width: 23rem;
  max-width: 100%;
}

nav {
  flex-basis: 100%;
  text-align: center;
}

nav > a {
  background-color: rgb(245, 245, 245);
  color: rgb(15, 15, 45);
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1rem;
}

nav > a:hover {
  background-color: rgb(200, 200, 205);
}

main {
  padding: 1rem;
}

main img {
  max-width: 100%;
  margin: 0.5rem 0;
}

.about-me h2 {
  background-image: url('images/lab7-me.jpg');/*This image is missing from your images folder*/
  background-size: cover;
  padding: 10rem 0 10rem 4rem;
  text-shadow: 2px 2px 2px #0000008f;
}

.gallery h2 {
  background-color: rgb(245, 245, 245);
  color: rgb(15, 15, 46);
  padding: 2rem 4rem;
}

.gallery {
  display: block;
}
@media (min-width: 1100px) {
  nav {
    flex-basis: unset;
  }

  header {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .about-me {
    display: flex;
  }

  .about-me h2 {
    flex-basis: 40%;
    background-position: center;
  }

  .about-me div {
    flex-basis: 50%;
    margin-left: 2rem;
  }

  h2 {
    padding-left: 4rem;
  }

  .gallery {
    display: flex;
    flex-flow: column wrap;
    max-height: 78rem;
  }

  .gallery h2 {
    margin: 0.5rem;
  }

  .gallery img {
    width: 32%;
    margin: 0.5rem;
  }
}
