/* lab8/styles.css */
body {
  margin: 0;
  background-color: #27213C;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
  background-color: rgba(39, 33, 60, .70);
  display: flex;
  flex-direction: column-reverse;
  align-items: center; /* adjust if your screenshot needs flex-start or flex-end */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Nav links */
nav > a {
  color: #e2512d;
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: 900;
  display: inline-block;
}

nav > a:hover {
  color: #A33B20;
  text-decoration: underline;
}


.animal-background {
  position: fixed;
  top: -12rem;
  width: 200%;
  left: -51%;
  height: 50rem;
  z-index: -1;

  background-image: url("images/animal.jpg");
  background-size: cover;
}

/* Sections */
section {
  background-color: #A33B20;
}

.animals {
  background-color: transparent;
}

section > h2 {
  text-align: center;
  padding: 13rem 0;
  text-shadow: 2px 2px 2px #27213C;
  background-size: cover;
  margin: 0;
  border-bottom: 2rem solid #e2512d;
  position: relative; 
}

.sloth > h2 { background-image: url("images/sloth.jpg"); }
.elephant > h2 { background-image: url("images/elephant.jpg"); }
.owl > h2 { background-image: url("images/owl.jpg"); }


.accordion {
  cursor: pointer;
}

article {
  padding: 1rem;
  display: none;
}

article.show {
  display: block;
}

section span {
  position: absolute;
  top: 15rem;
  font-size: 2rem;
  left: calc(50% - 11px);
  transform: rotate(180deg);
}

span.rotate {
  transform: rotate(0);
}

.sidelink {
  background-color: #27213C;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;

  position: fixed;
  transform: rotate(90deg);
  z-index: 1;

  top: 40%;
  right: -4rem;
}

/* Desktop */
@media (min-width: 1000px) {
  .animal-background {
    height: 100rem;
    top: -25%;
  }

  section > h2 {
    padding: 23rem 0;
    font-size: 3rem;
    background-position: center;
  }

  section span {
    font-size: 4rem;
    top: 26rem;
    left: calc(50% - 22px);
  }

  nav {
    position: absolute;
    top: 1rem;   
    left: 1rem;  
  }

  article {
    max-width: 60rem;
    margin: 0 auto;
  }
}
